S3method("print","chi2x3way")
import(methods,tools)
importFrom("grDevices", "dev.new")
importFrom("stats", "pchisq", "qchisq")
importFrom("stats", "ppoints", "qqplot", "quantile", "runif", "var")
importFrom("graphics", "abline", "arrows", "legend", "lines", "par",
"plot", "plot.new", "points", "text", "title")
exportPattern("^[[:alpha:]]+")
